#pagenavi{
	padding: 20px 0;
	height: 20px;
	line-height: 20px;
	position: relative;
	@include border-shadow();
	a{
		&:hover{
			text-decoration: underline;
		}
	}
	.prev, .next{
		position: absolute;
	}
	.prev{
		padding-left: 30px;
		left: 0;
		&:before{
			content: "\f060";
			font: 1.3em $font-icon;
			position: absolute;
			left: 0;
		}
	}
	.next{
		padding-right: 30px;
		right: 0;
		&:before{
			content: "\f061";
			font: 1.3em $font-icon;
			position: absolute;
			right: 0;
		}
	}
	.center{
		text-align: center;
		width: 100%;
		display: block;
		@media screen and (max-width: 400px){
			display: none;
		}
	}
}

.fiddles figcaption {
  font-size: 10pt;
}

#main-picture {
  img {
    width: 100%;
  }
  figcaption {
    font-size: 7pt;
    text-align: right;
  }
}
.video-player {
  @media only screen and (max-width: 1140px) and (min-width: 900px) {
    width: 166.67%;
  }
  padding-top: 40px;
  figure {
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
    top: 0;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
