// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    input[type='text'] {
      background: none;
      border: none;
      border-bottom: 1px dashed rgb(38, 39, 34);
      display: block;
      padding: 5px 0;
      width: 250px;
      font: inherit;
    }
    input[type='submit'] {
      background: rgb(38, 39, 34);
      color: #fff;
      border: none;
      font-size: .8em;
      padding: 1em 2em;
    }
    textarea {
      background: none;
      border: 1px solid rgb(38, 39, 34);
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-q-title {
    margin-bottom: 1em;
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
  .ss-password-warning {
    display: none;
  }
  .required-message {
    display: none;
  }
}
.container .left-col #header #main-nav ul {
  @media screen and (max-width: 900px){
    display: block;
    text-align: center;

    @media screen and (max-width: 768px){
      li {
        display: list-item;
      }
    }
  }
}
.fiddles {
  margin: 0 auto;
  max-width: 50%;
  @media screen and (min-width: 900px) {
    float: right;
    margin: 0 -25% 0 2em;
  }
}
figure.right {
  margin: 0 auto;
  max-width: 50%;
  @media screen and (min-width: 900px) {
    float: right;
    margin: 0 -25% 0 2em;
  }
}
figure.center {
  margin: 0 auto;
  max-width: 50%;
}
figure.macdonald-collection {
  max-width: 75%;
}

article .entry-content table.calendar {
  background: none;
  border: none;
}

article .entry-content table.calendar tr:nth-of-type(2n) {
  background: none;
}

.container .mid-col .mid-col-container {
  padding-bottom: 160px; // Make room for the absolute-positioned footer.
}

.calendar-date {
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  padding-left: 0;
}

.calendar-date-day {
  display: block;
  font: {
    size: 2.5em;
    weight: bold;
  }
  letter-spacing: -.05em;
  line-height: 1em;
  text-align: center;
}

.calendar-date-month,
.calendar-date-year {
  display: block;
  font-size: 0.7em;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
}

.calendar-location-and-time {
  display: block;
  font: {
    family: "Open Sans", sans-serif;
    size: 0.6em;
  }
  line-height: 2em;
  opacity: .7;
  text-transform: uppercase;
}

.calendar-season {
  display: none;
}

.calendar-season-title {
  cursor: pointer;
}

.calendar-season-title-arrow {
  font-size: .7em;
}

.calendar-page {
  @media only screen and (min-width: 900px) {
    .container .mid-col:after {
      background: {
        image: url(/assets/calendar-background.jpg);
        position: top center;
        repeat: no-repeat;
        size: cover;
      }
      content: "";
      display: block;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      width: 25.2%; /* 72% width column * 35% of the column's free space (since this is position: fixed) */
    }
  }
}

.index-recent-posts {
  margin-top: 1em;

  .post-datetime {
    line-height: 2em;
  }
}

.index-recent-posts-blog-link {
  float: right;
  font: {
    size: 0.5em;
    weight: normal;
  }
  line-height: 3em;
}

.index-recent-posts-header {
  margin-bottom: 0.5em;
}

.post-datetime {
  display: block;
  font: {
    family: "Opens Sans", sans-serif;
    size: 0.6em;
  }
  opacity: .7;
  text-transform: uppercase;
}

.post-excerpt {
  font: {
    size: .7em;
  }
  margin-top: 10px;
}

.post-list,
article .entry-content ul.post-list {
  list-style-type: none;
  margin: 0;
}

.post-title {
  font: {
    family: "Opens Sans", sans-serif;
  }
}

.container .mid-col .mid-col-container #content article .post-date {
  margin: -34px 0 34px;
  text-align: left;
}
