// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    input[type='text'] {
      background: none;
      border: none;
      border-bottom: 1px dashed rgb(38, 39, 34);
      display: block;
      padding: 5px 0;
      width: 250px;
      font: inherit;
    }
    input[type='submit'] {
      background: rgb(38, 39, 34);
      color: #fff;
      border: none;
      font-size: .8em;
      padding: 1em 2em;
    }
    textarea {
      background: none;
      border: 1px solid rgb(38, 39, 34);
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-q-title {
    margin-bottom: 1em;
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
  .ss-password-warning {
    display: none;
  }
  .required-message {
    display: none;
  }
}
.container .left-col #header #main-nav ul {
  @media screen and (max-width: 900px){ 
    display: block;
    text-align: center;

    @media screen and (max-width: 768px){ 
      li {
        display: list-item;
      }
    }
  }
}
.fiddles {
  margin: 0 auto;
  max-width: 50%;
  @media screen and (min-width: 900px) {
    float: right;
    margin: 0 -25% 0 2em;
  }
}
